{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>adminpage</title>
    <link rel="stylesheet" href="{% static  '/bootstrapadmin/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static  '/fontsadmin/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static  '/cssadmin/Navigation-Clean.css' %}">
    <link rel="stylesheet" href="{% static  '/cssadmin/Navigation-with-Search.css' %}">
    <link rel="stylesheet" href="{% static  '/cssadmin/Sidebar-Menu.css' %}">
    <link rel="stylesheet" href="{% static  '/cssadmin/Sidebar-Menu1.css' %}">
    <link rel="stylesheet" href="{% static  '/cssadmin/SIdebar-Responsive-2.css' %}">
    <link rel="stylesheet" href="{% static  '/cssadmin/SIdebar-Responsive-21.css' %}">
    <link rel="stylesheet" href="{% static  '/cssadmin/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body style="background-color:#cdffee;">
    <div></div>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-search">
        <div class="container"><a class="navbar-brand" href="\adminDashboard">RATr</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1">
                

                <form method="post" action="/search/" class="form-inline mr-auto" target="_self">
                    {% csrf_token %}
                    <div class="form-group"><label for="search-field"><i class="fa fa-search"></i></label><input type="text" name="srh" class="form-control"  placeholder="Enter an E-mail ID"  class="form-control search-field" type="search" name="search" id="search-field" style="color:#37434d;background-color:rgba(39,99,169,0.38);"></div>
                    <!-- <label class="col-lg-2"><button type="Submit" class="btn btn-danger"></button>></label> -->
                </form><br> </br>
                <a class="btn btn-light action-button" role="button" href="\index">Logout</a></div>
        </div>
    </nav>
    <div id="wrapper">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                    <li> <button class="btn btn-dark btn-block" type="button" name="button1" id="button1" onclick = 'loadDoc(this)'>Add user</button></li>
                    <li> <button class="btn btn-dark btn-block" type="button" name="button2" id="button2" onclick = 'loadDoc(this)'>Update User </button></li>
                    <li> <button class="btn btn-dark btn-block" type="button" name="button3" id="button3" onclick = 'loadDoc(this)'>Delete User </button></li>
                    <li> <button class="btn btn-dark btn-block" type="button" name="button4" id="button4" onclick = 'loadDoc(this)'>View Hierarchy</button></li>
            </ul>
        </div>
        <div class="page-content-wrapper">
            <div class="container-fluid"><a class="btn btn-link" role="button" href="#menu-toggle" id="menu-toggle"><i class="fa fa-bars"></i></a>
                <div class="row">
                        <div id="here" style="width:100%">
                        <div id="here">
                    <div class="col-md-12"><div>
                    {% if messages %}
                        <ul class="messages">
                            {% for k in srh %}
                                <li style="color: black">{{ k }}></li>>
                            {% endfor %}
                        </ul>>
                    {% endif %}
                </div><br>
                    <div style="color: red">
                        {% if match %}
                            {% for k in srh %}
                            <table border="0px", width="300px">
                                <tr>
                                    <td>email-id</td>
                                </tr>
                            </table>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <script>
                    document.getElementByName('srh').addEventListener('keypress', function(event) {
                    if (event.keyCode == 13) {
                    event.preventDefault();
                         }
                    });
                </script>
                        <div class="here">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div
    <div id="wrapper"></div>
    <script>
    function loadDoc(button) {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                 document.getElementById("here").innerHTML = this.responseText;
                }
                };

                switch(button.id){
                    case 'button1':
                    xhttp.open("GET", "/adduser/", true);
                    break;
                    case 'button2':
                    xhttp.open("GET", "/updateuser/", true);
                    break;
                    case 'button3':
                    xhttp.open("GET", "/deleteuser/", true);
                    break;
                    case 'button4':
                    xhttp.open("GET", "/viewuser/", true);
                    break;
                }
                
                xhttp.send();
        }
    </script>
    <script src="{% static  '/jsadmin/jquery.min.js' %}"></script>
    <script src="{% static  '/bootstrapadmin/js/bootstrap.min.js' %}"></script>
    <script src="{% static  '/jsadmin/Sidebar-Menu.js' %}"></script>
</body>

</html>