{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DepartmentHeadDashboard</title>
    <link rel="stylesheet" href="{% static '/bootstraphead/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/fontshead/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static '/csshead/Navigation-Clean.css' %}">
    <link rel="stylesheet" href="{% static '/csshead/Navigation-with-Search.css' %}">
    <link rel="stylesheet" href="{% static '/csshead/Sidebar-Menu.css' %}">
    <link rel="stylesheet" href="{% static '/csshead/Sidebar-Menu1.css' %}">
    <link rel="stylesheet" href="{% static '/csshead/SIdebar-Responsive-2.css' %}">
    <link rel="stylesheet" href="{% static '/csshead/SIdebar-Responsive-21.css' %}">
    <link rel="stylesheet" href="{% static '/csshead/styles.css' %}">
</head>

<body>
    <div></div>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-search">
        <div class="container"><a class="navbar-brand" href="#">Company Name</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <ul class="nav navbar-nav">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="#">Link 1</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#">Link 2</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#">Link 3</a></li>
                </ul>
                <form class="form-inline mr-auto" target="_self">
                    <div class="form-group"><label for="search-field"><i class="fa fa-search"></i></label><input class="form-control search-field" type="search" name="search" id="search-field" style="color:#37434d;background-color:rgba(39,99,169,0.38);"></div>
                </form><a class="btn btn-light action-button" role="button" href="/logout">Logout</a></div>
        </div>
    </nav>
    <div id="wrapper">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li> <a href="#">Add user</a></li>
                <li> <a href="#">Delete user</a></li>
                <li> <a href="#">Update User</a></li>
            </ul>
        </div>
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li> <a href="#">Add user</a></li>
                <li> <a href="#">Submit Report</a></li>
                <li> <a href="#">Evaluate Employees</a><a href="#">Assessment of associates</a><a href="#"></a></li>
            </ul>
        </div>
        <div class="page-content-wrapper">
            <div class="container-fluid"><a class="btn btn-link" role="button" href="#menu-toggle" id="menu-toggle"><i class="fa fa-bars"></i></a>
                <div class="row">
                    <div class="col-md-12">
                        <div>
                            <h1>Sidebar <small>menu </small></h1>
                        </div>
                        <p>Paragraph</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="wrapper"></div>
    <script src="{% static '/js/jquery.min.js' %}"></script>
    <script src="{% static '/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static '/js/Sidebar-Menu.js' %}"></script>
</body>

</html>