<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>EvaluateTreasuryDept</title>
</head>
<body>

<div id="evaluate">
    <form>
        <tr>
            <td>
                <h1>Evaluate Treasury Department</h1>
                <h1>Reports Submitted:</h1>
            </td>
            <td>
                <input type="text" placeholder="user_id" name="user_id">
            </td>
            <td>
                <button type="button" name="button" class="button" >SUBMIT</button><br><br>
            </td>
            <td>
                <textarea class="report"name="Comments" rows="7" cols="40" style="width:350px;"></textarea><br>
            </td>
            <td>
                <input type="number" placeholder="Marks" name="marks"><br><br>
            </td>
        </tr>
    </form>
    <form>
        <tr>
            <td>
                <label>
                <strong>Q1.</strong>Elicit and analyze proposals for banking and financing services.<br>
                </label> 
                <input type="number" placeholder="Marks" name="marks1"><br><br>
                
            </td>
            <td>
                <label>
                <strong>Q2.</strong>Provide everyday cash position, estimate and analysis.<br>
                <input type="number" placeholder="Marks" name="marks2"><br><br>
                </label>  
            </td>
            <td>
                <label>
                <strong>Q3.</strong>Maintain correct estimate of cash/CP balances.<br>
                </label> 
                <input type="number" placeholder="Marks" name="marks3"><br><br>
            </td>
            <td>
                <label>
                <strong>Q4.</strong>Supervise and manage all international cash balances efficiently.<br>
                </label> 
                <input type="number" placeholder="Marks" name="marks4"><br><br>
            </td>
            <td>
                    <label>
                    <strong>Q5.</strong>Present monthly cash along with accounting reports to Accounting personnel.<br>
                    </label> 
                    <input type="number" placeholder="Marks" name="marks5"><br><br>
                </td>
                <td>
                        <label>
                        <strong>Q6.</strong>
                        Manage corporate card, ACH debits, merchant credit card and lockbox.<br>
                        </label> 
                        <input type="number" placeholder="Marks" name="marks6"><br><br>
                    </td>
                    <td>
                            <label>
                            <strong>Q7.</strong>Ensure to check outsourcing as well as electronic payments.<br>
                            </label> 
                            <input type="number" placeholder="Marks" name="marks7"><br><br>
                        </td>
                        <td>
                                <label>
                                <strong>Q8.</strong>Manage international credit lines, letters of credit and corporate guarantees.<br>
                                </label> 
                                <input type="number" placeholder="Marks" name="marks8"><br><br>
                            </td>
                            <td>
                                    <label>
                                    <strong>Q9.</strong>Assist Tax plus Law departments on transactions and banking associated to international entity establishment or restructurings.<br>
                                    </label> 
                                    <input type="number" placeholder="Marks" name="marks9"><br><br>
                                </td>
                                <td>
                                        <label>
                                        <strong>Q10.</strong>Supervise maintenance and update signatories on every global bank account.<br>
                                        </label> 
                                        <input type="number" placeholder="Marks" name="marks10"><br><br>
                                    </td>
            <button type="submit" name="button" class="button" >Submit</button>
            <button type="reset" name="button" class="button" >Reset</button><br><br>
        </tr>
    </form>
</div>

</body>
</html>
