<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Tech-dept Evaluation</title>
</head>
<body>

<div>
    <form>
        <tr>
            <td>
                <h1>Technical Department Evaluation</h1>
                <h1>Reports Submitted:</h1>
            </td>
            <td>
                <input type="text" placeholder="user_id" name="user_id">
            </td>
            <td>
                <button type="button" name="button" class="button" >SUBMIT</button><br><br>
            </td>
            <td>
                <textarea class="report"name="Comments" rows="20" cols="80" style="width:350px;"></textarea><br>
            </td>
            <td>
                <input type="number" placeholder="Marks" name="marks"><br>
            </td>
        </tr>
    </form>
    <form>
        <tr>
            <td>
                <label>
                <strong>Q1.</strong>Installation & configuration of a company’s computer hardware operating systems and applications.<br>
                </label> 
                <input type="number" placeholder="Marks" name="marks1"><br><br>
                
            </td>
            <td>
                <label>
                <strong>Q2.</strong>Maintenance and monitoring of computer networks and systems..<br>
                <input type="number" placeholder="Marks" name="marks2"><br><br>
                </label>  
            </td>
            <td>
                <label>
                <strong>Q3.</strong>Logging the queries of customers and employees.<br>
                </label> 
                <input type="number" placeholder="Marks" name="marks3"><br><br>
            </td>
            <td>
                <label>
                <strong>Q4.</strong>Analysis of call logs in order to discover any underlying issues or trends.<br>
                </label> 
                <input type="number" placeholder="Marks" name="marks4"><br><br>
            </td>
            <td>
                <label>
                <strong>Q5.</strong>Diagnosing and solving hardware or software faults.<br>
                </label> 
                <input type="number" placeholder="Marks" name="marks5"><br><br>
            </td>
            <td>
                <label>
                <strong>Q6.</strong>Testing and evaluating new technology.<br>
                </label> 
                <input type="number" placeholder="Marks" name="marks6"><br><br>
            </td>
            <td>
                <label>
                <strong>Q7.</strong>Performing electrical safety checks on the company’s computer equipment.<br>
                </label> 
                <input type="number" placeholder="Marks" name="marks7"><br><br>
            </td>
            <td>
                <label>
                <strong>Q8.</strong>Responding to call-outs in a timely fashion.<br>
                </label> 
                <input type="number" placeholder="Marks" name="marks8"><br><br>
            </td>
            <td>
                <label>
                <strong>Q9.</strong>Following instructions, either written or in diagram form, in order to set up a system or fix a fault.<br>
                </label> 
                <input type="number" placeholder="Marks" name="marks9"><br><br>
            </td>
        </tr>
         <button type="submit" name="button" class="button" >Submit</button>
         <button type="reset" name="button" class="button" >Reset</button><br><br>
    </form>
</div>

</body>
</html>
