<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>EvaluatePublicRelationsDept</title>
</head>
<body>

<div id="evaluate">

<form id = "post-form"  enctype = "multipart/form">
{% csrf_token %}
            <td>
                <input type="text" placeholder="user_id" name="user_id">
            </td>
            <td>
                <button type="submit" name="button" class="button"  >SUBMIT</button><br><br>
            </td>
</form>
    <form action = "/evlpr/" method = 'POST' enctype = "multipart/form-data">
    {% csrf_token %}
        <tr>
            <td>
                <h1>Evaluate Public Relations Department</h1>
                <h1>Reports Submitted:</h1>
            </td>
            <td>
                <input type="text" placeholder="user_id" name="user_id">
            </td>
            {% comment %} <td>
                <button type="button" name="button" class="button" >SUBMIT</button><br><br>
            </td> {% endcomment %}
            <td>
                <textarea class="report"name="Comments" rows="7" cols="40" id = "field" style="width:350px;"></textarea><br>
            </td>
            <td>
                <input type="number" placeholder="Marks" name="marks"><br><br>
                
            </td>
            <td>
                <label>
                <strong>Q1.</strong>Build and sustain good image for company:<br>
                </label> 
                <input type="number" placeholder="Marks" name="marks1"><br><br>
                
            </td>
            <td>
                <label>
                <strong>Q2.</strong>Brand through planned publicity campaign and PR activity.<br>
                <input type="number" placeholder="Marks" name="marks2"><br><br>
                </label>  
            </td>
            <td>
                <label>
                <strong>Q3.</strong>Dealing with enquires from public, press and outside organization.<br>
                </label> 
                <input type="number" placeholder="Marks" name="marks3"><br><br>
            </td>
            <td>
                <label>
                <strong>Q4.</strong>Organizing promotional events like conferences, tours and visit.<br>
                </label> 
                <input type="number" placeholder="Marks" name="marks4"><br><br>
            </td>
            <td>
                <label>
                <strong>Q5.</strong>Speaking publically at interviews, press conferences.<br>
                </label> 
                <input type="number" placeholder="Marks" name="marks5"><br><br>
            </td>
            <td>
                <label>
                <strong>Q6.</strong>Providing client with new information.<br>
                </label> 
                <input type="number" placeholder="Marks" name="marks6"><br><br>
            </td>
            <td>
                <label>
                    <strong>Q7.</strong>Analysing media coverage.<br>
                </label> 
                    <input type="number" placeholder="Marks" name="marks7"><br><br>
            </td>
            <td>
                <label>
                <strong>Q8.</strong>.Commissioning or undertaking relevent market research.<br>
                </label> 
                <input type="number" placeholder="Marks" name="marks8"><br><br>
            </td>
            <td>
                <label>
                <strong>Q9.</strong>Making publicity budgets, timescales.<br>
                </label> 
                <input type="number" placeholder="Marks" name="marks9"><br><br>
            </td>
            <td>
                <label>
                <strong>Q10.</strong>Awareness of media agenda.<br>
                </label> 
                <input type="number" placeholder="Marks" name="marks10"><br><br>
            </td>
            <button type="submit" name="button" class="button" >Submit</button>
            <button type="reset" name="button" class="button" >Reset</button><br><br>
            <h1>Average = </h1>
        </tr>
    </form>
</div>
<script>
    $('#post-form').on('submit', function(event){
    document.getElementById("field").innerHTML = "Hii"
});</script>
</body>

</html>