<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>EvaluatePublicRelationsDept</title>
</head>
<body>

<div id="evaluate">
    <form>
        <tr>
            <td>
                <h1>Evaluate Public Relations Department</h1>
                <h1>Reports Submitted:</h1>
            </td>
            <td>
                <input type="text" placeholder="user_id" name="user_id">
            </td>
            <td>
                <button type="button" name="button" class="button" >SUBMIT</button><br><br>
            </td>
            <td>
                <textarea class="report"name="Comments" rows="7" cols="40" style="width:350px;"></textarea><br>
            </td>
            <td>
                <input type="number" placeholder="Marks" name="marks"><br><br>
                
            </td>
            <td>
                <label>
                <strong>Q1.</strong>Build and sustain good image for company:<br>
                </label> 
                <input type="number" placeholder="Marks" name="marks"><br><br>
                
            </td>
            <td>
                <label>
                <strong>Q2.</strong>Brand through planned publicity campaign and PR activity.<br>
                <input type="number" placeholder="Marks" name="marks"><br><br>
                </label>  
            </td>
            <td>
                <label>
                <strong>Q3.</strong>Dealing with enquires from public, press and outside organization.<br>
                </label> 
                <input type="number" placeholder="Marks" name="marks"><br><br>
            </td>
            <td>
                <label>
                <strong>Q4.</strong>Organizing promotional events like conferences, tours and visit.<br>
                </label> 
                <input type="number" placeholder="Marks" name="marks"><br><br>
            </td>
            <td>
                <label>
                <strong>Q5.</strong>Speaking publically at interviews, press conferences.<br>
                </label> 
                <input type="number" placeholder="Marks" name="marks"><br><br>
            </td>
            <td>
                <label>
                <strong>Q6.</strong>Providing client with new information.<br>
                </label> 
                <input type="number" placeholder="Marks" name="marks"><br><br>
            </td>
            <td>
                <label>
                    <strong>Q7.</strong>Analysing media coverage.<br>
                </label> 
                    <input type="number" placeholder="Marks" name="marks"><br><br>
            </td>
            <td>
                <label>
                <strong>Q8.</strong>.Commissioning or undertaking relevent market research.<br>
                </label> 
                <input type="number" placeholder="Marks" name="marks"><br><br>
            </td>
            <td>
                <label>
                <strong>Q9.</strong>Making publicity budgets, timescales.<br>
                </label> 
                <input type="number" placeholder="Marks" name="marks"><br><br>
            </td>
            <td>
                <label>
                <strong>Q10.</strong>Awareness of media agenda.<br>
                </label> 
                <input type="number" placeholder="Marks" name="marks"><br><br>
            </td>
            <button type="submit" name="button" class="button" >Submit</button>
            <button type="reset" name="button" class="button" >Reset</button><br><br>
        </tr>
    </form>
</div>

</body>
</html>