<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing page</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
    <link rel="stylesheet" href="assets/css/Article-List.css">
    <link rel="stylesheet" href="assets/css/Features-Boxed.css">
    <link rel="stylesheet" href="assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="assets/css/Header-Dark.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <div>
        <div class="header-dark">
            <nav class="navbar navbar-dark navbar-expand-md navigation-clean-search">
                <div class="container"><a class="navbar-brand" href="#">RATr</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse"
                        id="navcol-1">
                        <ul class="nav navbar-nav"></ul>
                        <form class="form-inline mr-auto" target="_self">
                            <div class="form-group"><label for="search-field"></label></div>
                        </form><span class="navbar-text"></span><a class="btn btn-light action-button" role="button" href="#">Login</a></div>
                </div>
            </nav>
            <div class="container hero">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <h1 class="text-center"><br><strong>Performance Assessment and Rating system</strong><br><br></h1>
                        <div class="embed-responsive embed-responsive-16by9"><a href="#"><img class="img-fluid" src="assets/img/company.jpg"></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="article-list">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Functionality</h2>
                <p class="text-center">RATr has numerous tools to make sure your organization is heading in the right direction.</p>
            </div>
            <div class="row articles">
                <div class="col-sm-6 col-md-4 item"><a href="#"><img class="img-fluid" src="assets/img/rating.jpg" height="426" width="640"></a>
                    <h3 class="name">Rating Tool</h3>
                    <p class="description">The Rating tool takes into consideration the holistic development of Employees to make sure no point of weakness is left.</p><a href="#" class="action"></a></div>
                <div class="col-sm-6 col-md-4 item"><a href="#"><img class="img-fluid" src="assets/img/assessment.jpg" height="426" width="640"></a>
                    <h3 class="name">Assesment Tool</h3>
                    <p class="description">The Assessment tool considers the outreach of the employees with their peers, seniors as well as the client.</p><a href="#" class="action"></a></div>
                <div class="col-sm-6 col-md-4 item"><a href="#"><img class="img-fluid" src="assets/img/client.jpg" height="426" width="640"></a>
                    <h3 class="name">Client Feedback Tool</h3>
                    <p class="description">The Client Feedback tool considers the satisfaction of the client as priority and thus rates the employees accordingly.</p><a href="#" class="action"></a></div>
            </div>
        </div>
    </div>
    <div class="features-boxed">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Features </h2>
                <p class="text-center">We at RATr believe is complete alround assessment of employees to drastically increase organization efficiency.</p>
            </div>
            <div class="row justify-content-center features">
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><i class="fa fa-home icon"></i>
                        <h3 class="name">100 % Coverage</h3>
                        <p class="description">Works for all organizations with multiple departmends and tiers.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><i class="fa fa-lock icon"></i>
                        <h3 class="name">Security</h3>
                        <p class="description">Secured rating system to maintain organization integrity</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><i class="fa fa-phone icon"></i>
                        <h3 class="name">Helpline</h3>
                        <p class="description">Readily available software help for customization.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><i class="fa fa-globe icon"></i>
                        <h3 class="name">360 Approach</h3>
                        <p class="description">360 degree coverage of parameters in rating algorithm.<br></p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><i class="fa fa-comments-o icon"></i>
                        <h3 class="name">Communication</h3>
                        <p class="description">Easy pathways for communication between peers and different tiers.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><i class="fa fa-list-alt icon"></i>
                        <h3 class="name">Customizable</h3>
                        <p class="description">Easy customization for newly created departments.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Services</h3>
                        <ul>
                            <li><a href="#">Rating Tool</a></li>
                            <li><a href="#">Assessment Tool</a></li>
                            <li><a href="#">Immediate Feedback</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <ul></ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>RATr</h3>
                        <p></p>
                    </div>
                    <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
                </div>
                <p class="copyright">RATr © 2019</p>
            </div>
        </footer>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>