{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>loginpage</title>
    <link rel="stylesheet" href="{% static '/bootstraplp/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/fontslp/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static '/csslp/Login-Form-Dark.css' %}">
    <link rel="stylesheet" href="{% static '/csslp/Navigation-with-Button.css' %}">
    <link rel="stylesheet" href="{% static '/csslp/styles.css' %}">
</head>

<body>
    <div class="login-dark">
        <form method="post">
            <h2 class="sr-only">Login Form</h2>
            <div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>
            <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Email"></div>
            <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password"></div>
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Log In</button></div><a href="#" class="forgot">Forgot your email or password?</a></form>
    </div>
    {% comment %} <script src="{% static '/jslp/jquery.min.js' %}"></script> {% endcomment %}
    {% comment %} <script src="{% static '/bootstraplp/js/bootstrap.min.js' %}"></script> {% endcomment %}
</body>

</html>