{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mddashboard</title>
    <link rel="stylesheet" href="{% static '/bootstrapmd/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/fontsmd/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static '/cssmd/Navigation-Clean.css' %}">
    <link rel="stylesheet" href="{% static '/cssmd/Navigation-with-Search.css' %}">
    <link rel="stylesheet" href="{% static '/cssmd/Sidebar-Menu.css' %}">
    <link rel="stylesheet" href="{% static '/cssmd/Sidebar-Menu1.css' %}">
    <link rel="stylesheet" href="{% static '/cssmd/SIdebar-Responsive-2.css' %}">
    <link rel="stylesheet" href="{% static '/cssmd/SIdebar-Responsive-21.css' %}">
    <link rel="stylesheet" href="{% static '/cssmd/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div></div>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-search">
       <div class="container"><a class="navbar-brand" href="\mdDashboard" style="font-family: Comic Sans MS;font-size:300% ">RATr</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <ul class="nav navbar-nav">
                    {% comment %} <li class="nav-item" role="presentation"><a class="nav-link active" href="#">Link 1</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#">Link 2</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#">Link 3</a></li> {% endcomment %}
                </ul>
                <form class="form-inline mr-auto" target="_self">
                    <div class="form-group"><label for="search-field"><i class="fa fa-search"></i></label><input class="form-control search-field" type="search" name="search" id="search-field" style="color:#37434d;background-color:rgba(39,99,169,0.38);"></div>
                </form><a class="btn btn-light action-button" role="button" href="#">Logout</a></div>
        </div>
    </nav>
    <div id="wrapper">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <!-- <li> <button class="btn btn-dark btn-block" type="button" name="button1" id="button1" onclick = 'loadDoc(this)'>Add user</button></li> -->
                <!-- <li> <button class="btn btn-dark btn-block" type="button" name="button1" id="button2" onclick = 'loadDoc(this)'>Evaluation HR</button></li>
                <li> <button class="btn btn-dark btn-block" type="button" name="button2" id="button3" onclick = 'loadDoc(this)'>Evaluate Operations dept</button></li>
                <li> <button class="btn btn-dark btn-block" type="button" name="button3" id="button4" onclick = 'loadDoc(this)'>Evaluate Public Relations dept</button></li>
                <li> <button class="btn btn-dark btn-block" type="button" name="button4" id="button5" onclick = 'loadDoc(this)'>Evaluate Treasury dept</button></li>
                <li> <button class="btn btn-dark btn-block" type="button" name="button4" id="button5" onclick = 'loadDoc(this)'>Evaluate Creativity dept</button></li>
                <li> <button class="btn btn-dark btn-block" type="button" name="button4" id="button5" onclick = 'loadDoc(this)'>Evaluate Technical dept</button></li> -->

                <!-- <li> <button class="btn btn-dark btn-block" type="button" name="button1" id="button1" onclick = 'loadDoc(this)'>Add user</button></li> --> 
                <li> <button class="btn btn-dark btn-block" type="button" name="button1" id="button1" onclick = 'loadDoc(this)'>Evaluation HR</button></li>
                 <!-- <button2 href = "\EvaluationApp.html"><button2>  -->
                <li> <button class="btn btn-dark btn-block" type="button" name="button2" id="button2" onclick = 'loadDoc(this)'>Evaluate Operations dept</button></li>
                <li> <button class="btn btn-dark btn-block" type="button" name="button3" id="button3" onclick = 'loadDoc(this)'>Evaluate Public Relations dept</button></li>
                <li> <button class="btn btn-dark btn-block" type="button" name="button4" id="button4" onclick = 'loadDoc(this)'>Evaluate Treasury dept</button></li>
                <li> <button class="btn btn-dark btn-block" type="button" name="button5" id="button5" onclick = 'loadDoc(this)'>Evaluate Creativity dept</button></li>
                <li> <button class="btn btn-dark btn-block" type="button" name="button6" id="button6" onclick = 'loadDoc(this)'>Evaluate Technical dept</button></li>


            </ul>
        </div>
        <div class="page-content-wrapper">
            <div class="container-fluid"><a class="btn btn-link" role="button" href="#menu-toggle" id="menu-toggle"><i class="fa fa-bars"></i></a>
                <div class="row">
                    <div class="col-md-12">
                        <div id = 'here'>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="wrapper"></div>
    <script>
    function loadDoc(button) {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                 document.getElementById("here").innerHTML = this.responseText;
                }
                };

                switch(button.id){
                    case 'button1':
                    xhttp.open("GET", "/evaluateHR/", true);
                    break;
                    case 'button2':
                xhttp.open("GET", "/evaluateOperationsDept/", true);
                    break;
                    case 'button3':
                xhttp.open("GET", "/evaluatePublicRelationsDept/", true);
                    break;
                    case 'button4':
                xhttp.open("GET", "/evaluateTreasuryDept/", true);
                    break;
                case 'button5':
                xhttp.open("GET", "/evaluateTechnicalDept/", true);
                    break;
                    case 'button6':
                xhttp.open("GET", "/evaluateCreativityDept/", true);
                    break;
                }
                xhttp.send();
        }
    </script>
    <script src="{% static '/jsmd/jquery.min.js' %}"></script>
    <script src="{% static '/bootstrapmd/js/bootstrap.min.js' %}"></script>
    <script src="{% static '/jsmd/Sidebar-Menu.js' %}"></script>
</body>

</html>